DATABASE_URL=postgres://lol:lol@localhost:5432/lol_stats
DATABASE_READ_URL=postgres://lol:lol@localhost:5432/lol_stats
RIOT_PLATFORM=TR1
RIOT_REGION=EUROPE
PUBLIC_SITE_URL=http://localhost:3000
RIOT_API_KEY=
